@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden; */
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: #191c32;
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}

.brand {
  margin-top: -7px;
}

.last__name {
  color: aqua;

}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

.menu .active a {
  color: aqua;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
}

.menu a:hover {
  background-color: aqua;
  color: #191c32;
  cursor: pointer;
  transition: ease-in 0.4s;
}

.toggle__menu,
.info__content-subtitle,
.info__content .sotial__networks {
  display: none;
} 

.info__content-p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill__title {
  margin-top: 0.5em;
  color: rgb(47, 232, 232);
  text-align: center;
}


.container__skill-icoms {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.container__icoms-i{
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 1.5em;
}

.container__icoms-i i {
  font-size: 1.5em;
}

.bxl-css3 {
  color: rgb(128, 114, 250);
}

.bxl-html5 {
  color: rgb(241, 86, 86);
}

.bxl-javascript {
  color: yellow;
}

.bxl-git {
  color: rgb(250, 112, 62);
}

.bxl-react {
  color: rgb(73, 226, 226);
}

.bxl-typescript {
  color: rgb(8, 8, 232);
}

.main {
  margin:  0 auto;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.main img {
  border: 7px solid aqua;
  width: 350px;
  height: 450px;
  min-height: 300px;
}

h1 {
  font-size:  clamp(3.8vw, 1.5em, 2em);;
}

h1 span {
  color: aqua;
}

.download-cv,
.proyects__details
 {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: .8em;
  margin-top: 2em;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69) ;
}

.download-home {
 margin-bottom: 20px;
 text-align: center;
}

.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.about {
  display: grid;
  grid-template-columns:repeat(10, 1fr);
  justify-content: center;
  width: 100%;
  align-items: center;
}

.about img {
  margin-left: 10px;
  max-width: 90%;
  grid-column: 1/5;
}

.about__info {
  grid-column: 5/10;
  padding: 3em;
}

.about__info h2 {
  font-size: 2em;
  color: #191c32;
}

.about__info p {
  color: rgb(80, 135, 137);
  font-weight: 560;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 1.5em;
}

.about p {
 margin-bottom: 2em; 
}

.portfolio,
.contact__section {
  width: 100%;
  color: #fff;
  background-color: #191c32;
}

.portfolio-headings {
  width: 100%;
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2.1em;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: #101e4b;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyects-links {
  display: flex;
  justify-content: space-evenly;
}

.card__proyects-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyects-links i {
  font-size: 1.5em;
}

.proyects__details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
}

.proyects__details a {
  text-decoration: none;
  color:#191c32 ;
  text-transform: uppercase;
}

.contanier__button{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.contact__heading {
  width: 100%;
  padding: 5em;
}

.contact__heading h2 {
  font-size: 2.5em;
  color: #fff;
  
}

.container__contact {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: -100px;
}

.form {
 display: flex;
 flex-direction: column;
 width: 100%;
 width: 600px;
 margin-top: 2em;
}

.form input {

  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn__submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: aqua;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69) ;
} 

.btn__submit:hover {
  background-color: #fff;
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: aqua;
}

.footer__content h2 {
  font-size: 3em;
  
}

.footer__content h5,
.sotial__networks i {
  font-size: 1.5em;
  text-align: center;
}

.sotial__networks  {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial__networks i {
 color: white;
}

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform:translatex(-110%);
    transition: all 0.5s ease-in-out;
  }

  .show__menu {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  .toggle__menu{
    display: block;
  }

  .bx-menu{
    font-size: 1.5em;
    margin-top: -0.1em;
  }
  
  .toggle__menu .bx-x {
    display: none;
  }

  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .main img {
   width: min(70%, 350px);
    height:auto ;
  }

  .info__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info__content .sotial__networks,
  .info__content-subtitle {
    display: block;
  }

  .info__content-subtitle{
    margin: 0.6em;
  }

  .info__content .sotial__networks {
    display: flex;
    justify-content: space-evenly;

  }

  .download-cv,
  .info__content-p,
  .contact__section-img {
    display: none;/* se puede quitar depende de mi gusto */
  }

  .form {
    width: 80vw;
  }
}